<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            ID
          </th>
          <th>
            Nome Cliente
          </th>
          <th>
            Utente assegnatario
          </th>
          <th>
            Progetto associato
          </th>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            <input placeholder="nome cliente" [(ngModel)]="insertCliente.nomeCliente">
          </td>
          <td>
            <input placeholder="utente assegnatario" [(ngModel)]="insertCliente.user">
          </td>
          <td>
            <input placeholder="progetto assocaito" [(ngModel)]="insertCliente.progetto">
          </td>
          <td>
            <button (click)="insertClienti(insertCliente)">Inserisici</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let clienti of cliente">
          <td>
            {{clienti.id}}
          </td>
          <td>
            <input [(ngModel)]="clienti.nomeCliente">
          </td>
          <td>
            <input [(ngModel)]="clienti.user">
          </td>
          <td>
            <input [(ngModel)]="clienti.progetto">
          </td>
          <td>
            <button (click)="updateClienti(clienti)">Salva</button>
          </td>
          <td>
            <button (click)="deleteClienti(clienti)">Cancella</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
