<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            ID
          </th>
          <th>
            Nome Progetto
          </th>
          <th>
            Cliente
          </th>
          <th>
            Nome Documenti
          </th>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            <input placeholder="nome Progetto" [(ngModel)]="insertProgetto.nomeProgetto">
          </td>
          <td>
            <input placeholder="Cliente" [(ngModel)]="insertProgetto.user">
          </td>
          <td>
            <input placeholder="Documento" [(ngModel)]="insertProgetto.documento">
          </td>
          <td>
            <button (click)="insertProgetti(insertProgetto)">Inserisici</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let progetti of progetto">
          <td>
            {{progetti.id}}
          </td>
          <td>
            <input [(ngModel)]="progetti.nomeProgetto">
          </td>
          <td>
            <input [(ngModel)]="progetti.user">
          </td>
          <td>
            <input [(ngModel)]="progetti.documento">
          </td>
          <td>
            <button (click)="updateProgetti(progetti)">Salva</button>
          </td>
          <td>
            <button (click)="deleteProgetti(progetti)">Cancella</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>