<div class="container">
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Username
          </th>
          <th>
            Password
          </th>
          <th>
            Nome
          </th>
          <th>
            Cognome
          </th>
          <th>
            Usertype
          </th>
          <th>
            Edit
          </th>
          <th>
            User
          </th>
        </tr>
        <tr>
          <td>
            <input placeholder="username" [(ngModel)]="usertoinsert.username">
          </td>
          <td>
            <input placeholder="password" [(ngModel)]="usertoinsert.password">
          </td>
          <td>
            <input placeholder="nome" [(ngModel)]="usertoinsert.nome">
          </td>
          <td>
            <input placeholder="cognome" [(ngModel)]="usertoinsert.cognome">
          </td>
          <td>
            <select placeholder="usertype" [(ngModel)]="usertoinsert.usertype">
              <option value="UTENTE">UTENTE</option>
              <option value="CLIENTE">CLIENTE</option>
            </select>
          </td>
          <td>
            <button (click)="insert(usertoinsert)">Insert</button>
          </td>
          <td>
            <button (click)="clear()">Clear</button>
          </td>
        </tr>
        <tr *ngFor="let user of users">
          <td>
            <input [(ngModel)]="user.username">
          </td>
          <td>
            <input [(ngModel)]="user.password">
          </td>
          <td>
            <input [(ngModel)]="user.nome">
          </td>
          <td>
            <input [(ngModel)]="user.cognome">
          </td>
          <td>
            <select [(ngModel)]="user.usertype">
              <option [selected]="user.usertype===UTENTE" value="UTENTE">UTENTE</option>
              <option [selected]="user.usertype===CLIENTE" value="CLIENTE">CLIENTE</option>
            </select>
          </td>
          <td>
            <button (click)=update(user)>Save</button>
          </td>
          <td>
            <button (click)="delete(user)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>
